/* --------------
   style for body
   -------------- */

body {
    /* border: 2px solid gold; */
    font-family: 'Lobster', cursive;
    margin: 0px;
}

/* ----------------
    style for main
 -------------------*/
.main {
    margin: 5vw 5vw;
    /* border: 3px solid indigo; */
}

/* ---------------------
top-banner styling part
------------------------ */

.Top-banner {
    /* border: 2px solid yellow; */
    display: flex;
    background-color: #161616;
    border-radius: 3%;
}

.banner-part1 {
    /* border: 2px solid green; */
    color: white;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 15%;
}

.banner-part1 h1 {
    /* border: 2px solid salmon; */
    font-size: 60px;
}

.banner-part1 p {
    /* border: 2px solid olive; */
    margin-top: -25px;
    font-size: 25px;
}

.banner-part1 button {
    /* border: 5px solid blueviolet; */
    width: 196px;
    height: 44px;
    color: white;
    font-size: 25px;
    background-color: #DD0000;
    border-radius: 5px;
    /* border: none; */
}

.banner-part2 {
    /* border: 2px solid green; */
    width: 50%;
    /* padding-top: 10px;
    padding-right: 70px; */
    padding: 2% 5%;
}

.banner-part2 img {
    width: 100%;
}

/* --------------------------
 middle-section styling part 
---------------------------- */
.middle-section {
    /* border: 2px solid yellow; */
    display: flex;
    margin-top: 5%;
    height: 40vw;
}

.menubar {
    /* border: 2px solid green; */
    background-color: #161616;
    color: white;
    margin-bottom: 17vw;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
}

.menu-name {
    /* border: 2px solid fuchsia; */
    background-color: white;
    color: black;
    width: 252px;
    height: 64px;
    margin: 15px 15px;
    border-radius: 5px;
    padding-top: 5px;
}

.menu-name p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#all-group {
    background-color: #DD0000;
}

.all-group {
    border: 2px solid grey;
    border-radius: 1%;
}

.all-group img {
    width: 100%;
}

/* ------------------------
 last-section styling part 
-------------------------- */
.last-section {
    /* border: 2px solid burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: none;
}

.last-section-button {
    /* border: 2px solid green; */
    width: 200px;
    height: 50px;
}

.last-section button {
    border: none;
    width: 200px;
    height: 50px;
    background-color: #DD0000;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

/* -------------------
 footer styling part
---------------------- */
footer {
    /* border: 2px solid black; */
    padding: 80px 0px;
    background-color: #141e30;
    color: white;
}

.footer-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 700;
    font-size: 2vw;
    color: #eb3349;
}

.footer-hr hr {
    width: 80%;
}

.footer-menus {
    /* border: 2px solid darkorange; */
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px;

}

.footer-icons {
    /* border: 2px solid lawngreen; */
    display: flex;
    justify-content: space-around;
    margin: 20px 500px;
    font-size: 30px;
    color: orange;
}


/* ------------------------------
 Media queary for mobile device
-------------------------------  */

@media screen and (max-width:576px) {

    /* body section */
    html,
    body {
        margin: 0px;
        overflow-x: hidden;
    }

    body {
        width: 100%;
    }

    /* top banner  */
    .Top-banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-part1 {
        width: 80%;
    }

    .banner-part2 {
        width: 80%;
        align-items: center;
    }

    /* middle-section  */

    .middle-section {
        flex-direction: column;
        height: 160vw;
    }

    .menubar {
        background-color: white;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-tab-mob1 {
        border: 2px solid grey;
    }

    #menu-tab-mob2 {
        border: 2px solid grey;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section */
    .footer-title {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: 700;
        font-size: 4vw;
        color: #eb3349;
    }

    .footer-menus {
        flex-direction: column;
        align-items: center;
    }

    .footer-icons {
        display: none;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    /* body section */
    body {
        margin: 0px;
    }

    /* top banner  */
    .Top-banner {
        flex-direction: row;
        align-items: center;
    }

    .banner-part1 {
        width: 80%;
    }

    .banner-part1 h1 {
        font-size: 300%;
    }

    .banner-part1 p {
        font-size: 100%;
    }

    .banner-part1 button {
        margin-bottom: 15%;
    }

    .banner-part2 {
        width: 80%;
        align-items: center;
    }

    /* middle-section  */

    .middle-section {
        flex-direction: column;
        height: 70vw;
    }

    .menubar {
        background-color: white;
        display: flex;
        margin-bottom: 10%;
    }

    #menu-tab-mob1 {
        border: 2px solid grey;
    }

    #menu-tab-mob2 {
        border: 2px solid grey;
    }

    /* last section style */
    .last-section {
        display: flex;
    }

    /* footer section */

    .footer-title {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        font-family: 'Edu VIC WA NT Beginner', cursive;
        font-weight: 700;
        font-size: 3vw;
        color: #eb3349;
    }

    .footer-menus {
        flex-wrap: wrap;
        align-items: center;
    }

    .footer-icons {
        display: none;
    }
}